body{
    background-color: #1e88e5;
    background-image: url("../images/fondo-textura-azul.jpg");
    background-position-x: center;
    background-attachment: fixed;
}
.perfil{
    background-image: url("../images/fondo-header.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -130px;
    padding-top: 80px;
    color: white;
}
.nav-wrapper p{
    background-color: transparent;
    font-size: 115%;
}
div.perfil img{
    background-image: url("../images/fondo-bandera-chile.jpg");
    background-size: 240%;
    background-position-x: -40px;
}
nav{
    border-top: 5px;
}
aside p{
    text-align: justify !important;
}
aside a{
    background-color: #fbc02d;
    color: white;
    border-radius: 4px;
}
aside button{
    width: 41%;
}
header p{
    font-size: 1em;
    margin: .1em 0 .6em;
    display: inline-block;
    font-style: italic;
    padding: 6px 10px;
    background-color: #0D47A1;
    border-radius: 4px;
    line-height: 1;
}
li.active{
    background-color: #fbc02d !important;
}
#tab-que-es-jmv article strong{
    color: #0D47A1;
}
#tab-inicio article strong{
    color: #fbc02d;
}
#tab-que-es-jmv article{
    font-size: 150%;
}
img.circle.responsive-img {
    width: 15%;
    height: auto;
}
#tab-consejo-nacional img{
    width: 15%;
    height: auto;
    margin: 15px 5px 0 5px;
    border-radius: 4px;
}
#tab-consejo-nacional p{
    text-align: justify;
}
#redes-sociales{
    font-size: 300%;
}
#tab-galeria img{
    width: 30%;
    height: auto;
}
footer{
    margin-top: 20px;
}
.follow_us i:hover{
    color: #fbc02d;
}
div.footer-copyright{
    background-color: #0d3b76;
}